# === Docker & CI/CD configs ===
.docker/
.git
.gitignore
.github
.gitlab-ci.yml
Dockerfile
docker-compose*.yaml
compose.yaml

# === Caches & Build Artifacts ===
**/.cache
**/dist
**/node_modules
cache

# === Other ===
**/.draft
*.md
.npmrc
.env
