.DS_Store
node_modules
/cache
/dist
/vscode-dist
/certs
/gitlab
/plugins
/src/hidden
/public/temp
/logs
.npmrc
!patterns/**/.npmrc

./plugins.json

/public/workspace/*

# local env files
*.env*
!example.env
!.docker/compose/defaults.env

# local bugs log
bugs.bug

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
.gigaide
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.code-workspace

# Lock files
# Вызвало сбой сборки докера
# пока вернем до прихода DevOps
/coverage/
/test-report.xml
